<script>
  import { stores } from '@sapper/app';
  import { Icons, Icon, Nav, NavItem } from '@sveltejs/site-kit';

  export let segment;

  const { page } = stores();
</script>

<style>

:global(html) {
  --prime: rgb(21, 151, 148) !important; /* TODO remove .theme-default from shared, so we don't need !important */

}

main {
  position: relative;
  margin: 0 auto;
  /* padding: var(--nav-h) var(--side-nav) 0 var(--side-nav); */
  padding: var(--nav-h) 0 0 0;
  overflow-x: hidden;
}

.externalicon {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

:global(.home) {
  top: -.7rem !important;
  height: 3.3rem !important;
}

</style>

<Icons/>

<Nav {segment} {page} logo="spined-logo-horizontal.svg">
	<NavItem segment="docs">Tutorial</NavItem>
	<NavItem segment="api">API</NavItem>
	<NavItem segment="faq">FAQ</NavItem>

	<NavItem external="https://redis.io/">Redis</NavItem>

	<NavItem external="https://discord.gg/npCMj8" title="Discord Chat">
		<Icon name="message-square"/>
	</NavItem>

	<NavItem external="https://gitlab.com/clb1/spined" title="GitLab Repo">
      <svg class="externalicon icon" role="img" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
        <path d="M4.845.904c-.435 0-.82.28-.955.692C2.639 5.449 1.246 9.728.07 13.335a1.437 1.437 0 00.522 1.607l11.071 8.045c.2.145.472.144.67-.004l11.073-8.04a1.436 1.436 0 00.522-1.61c-1.285-3.942-2.683-8.256-3.817-11.746a1.004 1.004 0 00-.957-.684.987.987 0 00-.949.69l-2.405 7.408H8.203l-2.41-7.408a.987.987 0 00-.942-.69h-.006zm-.006 1.42l2.173 6.678H2.675zm14.326 0l2.168 6.678h-4.341zm-10.593 7.81h6.862c-1.142 3.52-2.288 7.04-3.434 10.559L8.572 10.135zm-5.514.005h4.321l3.086 9.5zm13.567 0h4.325c-2.467 3.17-4.95 6.328-7.411 9.502 1.028-3.167 2.059-6.334 3.086-9.502zM2.1 10.762l6.977 8.947-7.817-5.682a.305.305 0 01-.112-.341zm19.798 0l.952 2.922a.305.305 0 01-.11.341v.002l-7.82 5.68.026-.035z"/>
      </svg>
	</NavItem>
</Nav>

<main>
	<slot></slot>
</main>
