<script>
	import { Hero, Blurb } from '@sveltejs/site-kit';
</script>

<style>

:global(.logotype) {
  height: 3.3rem !important;
}

</style>

<svelte:head>
	<title>Spined • A JSON semantic network data store on Redis</title>
</svelte:head>

<Hero
	title="Spined"
	tagline="A JSON semantic network data store on Redis"
	outline="spined-logo-outline.svg"
	logotype="spined-logotype.svg"
/>

<Blurb>
	<a href="docs" slot="one">
		<h2>JSON first</h2>
		<p>Store JSON Documents structured with JSONSchema, query with JSONata and easily support modern requisites like GraphQL</p>

		<span class="learn-more">learn more</span>
	</a>

	<a href="docs" slot="two">
		<h2>Graph first</h2>
		<p>Organize your data using a rich semantic network (a type of multi-dimensional graph paradigm) with security in mind</p>

		<span class="learn-more">learn more</span>
	</a>

	<a href="docs" slot="three">
		<h2>Powered by Redis</h2>
		<p>Spined is powered by Redis — get both graph data semantics and relationships with Redis performance</p>

		<span class="learn-more">learn more</span>
	</a>

	<div class="description" slot="what">
	  <p>Spined is a data store to create and manipulate efficiently persistent data, organized using a flexible
        high level paradigm.</p>
	</div>

	<div style="grid-area: start; display: flex; flex-direction: column; min-width: 0" slot="how">
		<p class="cta"><a rel="prefetch" href="docs">Learn Spined</a></p>
	</div>
</Blurb>
