<script context="module">
	export async function preload() {
		const sections = await this.fetch(`docs.json`).then(r => r.json());
		return { sections };
	}
</script>

<script>
  // import { Docs } from '@sveltejs/site-kit'
  import Docs from '../../components/Docs.svelte'

  const description = 'A JSON semantic network data store on Redis'
  export let sections;
</script>

<svelte:head>
  <title>Tutorial • Spined</title>

	<meta name="twitter:title" content="Spined tutorial">
  <meta name="twitter:description" content={description}>
  <meta name="Description" content={description}>
</svelte:head>

<Docs {sections} project="spined"/>
