<script context="module">
	export async function preload() {
		const sections = await this.fetch(`api.json`).then(r => r.json());
		return { sections };
	}
</script>

<script>
  // import { Docs } from '@sveltejs/site-kit'
  import Docs from '../../components/Docs.svelte'

  export let sections;

  const description = 'A JSON semantic network data store on Redis'
</script>

<svelte:head>
  <title>API • Spined</title>

  <meta name="twitter:title" content="Spined api">
  <meta name="twitter:description" content={description}>
  <meta name="Description" content={description}>
</svelte:head>

<Docs {sections} dir="api" project="spined"/>
